<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Recipe</title>
    <link th:href="@{/styles.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/addInput.js}"></script>
</head>
<body>
<div class="wrapper">
    <div class="navbar">
        Navbar
    </div>
    <div class="header">
        <h1>Too Many Cooks</h1>
    </div>
    <div class="content">
        <form method="post">
            <div id="recipeDetailInputs">
                <h2>Recipe Details:</h2>
                <a style='color:blue' onclick="addRecipeDetailInput()">Add Detail</a>
                <div>
                    <ul>
                        <li><label> Detail : <br><textarea name="recipeDetails" class="detailedInstructionsText"></textarea></label></li>
                    </ul>
                </div>
            </div>
            <div id="recipeInstructionInputs">
                <h2>Recipe Instructions:</h2>
                <a style='color:blue' onclick="addRecipeInstructionInput()">Add Instruction Step</a>
                <ul>
                    <li><label> Detailed Instruction : <br><textarea name="recipeInstructions" class="detailedInstructionsText"></textarea></label></li>
                </ul>
            </div>
            <div id="recipeCard">
                <div class="row" id="statPhotoCard">
                    <div id="statCard">
                        <div>
                            <label> Recipe Name : <input type="text" name="recipeName"/></label>
                        </div>
                        <div>
                            <ul>
                                <li><label hidden> Author : <input type="text" name="author"/></label></li>
                                <li><label> Cook Time : <input type="text" name="cookTime"/></label></li>
                                <li><label> Prep Time : <input type="text" name="prepTime"/></label></li>
                                <li><label> Total Time : <input type="text" name="totalTime"/></label></li>
                                <li><label> Yield : <input type="text" name="yield"/></label></li>
                                <li><label> Method : <input type="text" name="method"/></label></li>
                                <li><label> Cuisine : <input type="text" name="cuisine"/></label></li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        Image?
                    </div>
                </div>
                <div id="ingredientCardInputs">
                    <a style='color:blue' onclick="addIngredientCardInput()">Add Ingredient</a><br>
                    <div>
                        <ul>
                            <li><label> Ingredient : <input type="text" name="ingredient"/></label></li>
                            <li><label> Amount : <input type="text" name="amount"/></label></li>
                            <li><label> Measurement : <input type="text" name="measurement"/></label></li>
                        </ul>
                    </div>
                </div>
                <div id="instructionCardInputs">
                    <a style='color:blue' onclick="addInstructionCardInput()">Add Instruction Step</a>
                    <div>
                        <ul>
                            <li><label> Instruction Step : <br><textarea name="instructionCard" class="addInstructionsText"></textarea></label></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <input type="submit" value="Add"/>
                </div>
            </div>
        </form>
    </div>
    <div class="footer">
        Footer
    </div>
</div>
</body>
</html>