<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Recipe</title>
    <link th:href="@{/styles.css}" rel="stylesheet">
    <script type="text/javascript" th:src="@{/js/addInput.js}"></script>
</head>
<body>
<div class="wrapper">
    <div class="navbar">
        Navbar
    </div>
    <div class="header">
        <h1>Too Many Cooks</h1>
    </div>
    <div class="content">
        <div>History 1</div>
        <div>History 2</div>
        <div>History 3</div>
        <div>Saucy Instructions 1</div>
        <div>Saucy Instructions 2</div>
        <div id="recipeCard">
            <form method="post">
                <div class="row" id="statPhotoCard">
                    <div id="statCard">
                        <div>
                            <label> Recipe Name : <input type="text" name="recipeName"/></label>
                        </div>
                        <div>
                            <ul>
                                <li><label hidden> Author : <input type="text" name="author"/></label></li>
                                <li><label> Cook Time : <input type="text" name="cookTime"/></label></li>
                                <li><label> Prep Time : <input type="text" name="prepTime"/></label></li>
                                <li><label> Total Time : <input type="text" name="totalTime"/></label></li>
                                <li><label> Yield : <input type="text" name="yield"/></label></li>
                                <li><label> Method : <input type="text" name="method"/></label></li>
                                <li><label> Cuisine : <input type="text" name="cuisine"/></label></li>
                            </ul>
                        </div>
                    </div>
                    <div>
                        Image?
                    </div>
                </div>
                <div id="ingredientInputs">
                    <a style='color:blue' onclick="addIngredientInput()">Add Ingredient</a><br>
                    <div>
                        <ul>
                            <li><label> Ingredient : <input type="text" name="ingredient"/></label></li>
                            <li><label> Amount : <input type="text" name="amount"/></label></li>
                            <li><label> Measurement : <input type="text" name="measurement"/></label></li>
                        </ul>
                    </div>
                </div>
                <div id="instructionInputs">
                    <a style='color:blue' onclick="addInstructionInput()">Add Instruction Step</a>
                    <div>
                        <ul>
                            <li><label> Instruction Step : <br><textarea name="instructions" class="addInstructionsText"></textarea></label></li>
                        </ul>
                    </div>
                </div>
                <div>
                    <input type="submit" value="Add"/>
                </div>
            </form>
        </div>
    </div>
    <div class="footer">
        Footer
    </div>
</div>
</body>
</html>