<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
  <link th:href="@{/styles.css}" rel="stylesheet">
  <script type="text/javascript" th:src="@{/js/loginBlock.js}"></script>
</head>
<body>
<div class="wrapper">
  <div sec:authorize="isAnonymous()" th:replace="~{fragments :: anonymous-navbar}">
    Navbar
  </div>
  <div sec:authorize="isAuthenticated()" th:replace="~{fragments :: authenticated-navbar}">
    Navbar
  </div>
  <div th:replace="~{fragments :: header}">
    Header
  </div>
  <div th:replace="~{fragments :: loginBlock}"></div>
  <div class="content">
    <h1 th:text="${recipe.recipeName}"></h1>
    <h2>Recipe Details:</h2>
    <div th:each="recipeDetail : ${recipeDetails}" th:text="${recipeDetail.detail}"></div>
    <h2>Recipe Instructions:</h2>
    <div th:each="recipeInstruction : ${recipeInstructions}" th:text="${recipeInstruction.instruction}"></div>
    <div id="recipeCard">
      <h2 id="recipeHeader" th:text="${recipe.recipeName}"></h2>
      <div class="row" id="statPhotoCard">
        <div id="statCard">
          <div id="ratingCard">Rating Img Here?
            <form method="post" sec:authorize="isAuthenticated()">
              <label> One Star
                <input type="radio" name="rating" value="1">
              </label>
              <label> Two Stars
                <input type="radio" name="rating" value="2">
              </label>
              <label> Three Stars
                <input type="radio" name="rating" value="3">
              </label>
              <label> Four Stars
                <input type="radio" name="rating" value="4">
              </label>
              <label> Five Stars
                <input type="radio" name="rating" value="5">
              </label>
              <input type="submit" value="Add"/>
            </form>
          </div>
          <p th:utext="'&lt;strong&gt;Author: &lt;/strong&gt;' + ${recipe.recipeCard.statCard.author}"></p>
          <p th:utext="'&lt;strong&gt;Prep Time: &lt;/strong&gt;' + ${recipe.recipeCard.statCard.prepTime}"></p>
          <p th:utext="'&lt;strong&gt;Cook Time: &lt;/strong&gt;' + ${recipe.recipeCard.statCard.cookTime}"></p>
          <p th:utext="'&lt;strong&gt;Total Time: &lt;/strong&gt;' + ${recipe.recipeCard.statCard.totalTime}"></p>
          <p th:utext="'&lt;strong&gt;Yield: &lt;/strong&gt;' + ${recipe.recipeCard.statCard.yield}"></p>
          <p th:utext="'&lt;strong&gt;Method: &lt;/strong&gt;' + ${recipe.recipeCard.statCard.method}"></p>
          <p th:utext="'&lt;strong&gt;Cuisine: &lt;/strong&gt;' + ${recipe.recipeCard.statCard.cuisine}"></p>
        </div>
        <div>
          <img th:src="@{/Images/PaintBrush-Logo.png}" id="cardPhoto"/>
        </div>
      </div>
      <div id="ingredientCard">
        <h3>Ingredients</h3>
        <ul>
          <li th:each="ingredient : ${ingredients}">
            <label>
              <input type="checkbox" class="strikethroughCheckbox"/>
              <span th:text="${ingredient.amount} + ' ' + ${ingredient.measurement.name} + ' ' + ${ingredient.rawIngredient.name}"></span>
            </label>
          </li>
        </ul>
      </div>
      <div id="instructionCard">
        <h3>Instructions</h3>
        <ol>
          <li th:each="cardInstruction: ${cardInstructions}" th:text="${cardInstruction.instructionStep}"></li>
        </ol>
      </div>
    </div>
  </div>
  <div th:replace="~{fragments :: footer}">
    Footer
  </div>

</div>
</body>
</html>