body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
    font-family: Domaine Display,Georgia,Cambria,Times New Roman,Times,serif;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    display: flex;
    background-color: #ccc;
}

.header {
    background-color: #f1f1f1;
    text-align: center;
    font-size: 35px;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    background-color: #aaa;
    width: 100%;
    max-width: 800px;
}

.content > div:nth-child(odd) {
    background-color: #bbb;
}

.content > div:nth-child(even) {
    background-color: #ccc;
}

#recipeCard {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    border: 1px solid #185c35;
    outline: .5em solid #f9f9f9;
    background-color: #f9f9f9;
    padding: 1.5em;
    text-wrap: wrap;
}

#recipeHeader {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 34px;
}

#statPhotoCard {
    justify-content: space-between;
}

.footer {
    background-color: black;
}