body {
    margin: 0;
    padding: 0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    display: flex;
    background-color: #ccc;
}

.header {
    background-color: #f1f1f1;
    text-align: center;
    font-size: 35px;
}

.content {
    background-color: #aaa;
}

content > div:nth-child(odd) {
    background-color: #bbb;
}

.content > div:nth-child(even) {
    background-color: #ccc;
}

.recipeAndPhoto {
    display: flex;
    align-items: stretch;
}

.recipeCard {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    width: 100%;
    max-width: 800px;
    border: 1px solid #185c35;
    outline: .5em solid #f9f9f9;
    background-color: #f9f9f9;
    padding: 1.5em;
    text-wrap: wrap;
}

.footer {
    background-color: black;
}