body {
    margin: 0;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
}

h1, h2, h3 {
    font-family: Domaine Display,Georgia,Cambria,Times New Roman,Times,serif;
}

ul {
    list-style-type: none;
    padding-left: 0px;
    margin-left: 0px;
}

ol {
    padding-left: 1.5em;
}

ol > li::marker {
    font-weight: bold;
}

li {
    margin-top: 5px;
}

.detailedInstructionsText {
    width: 95%;
    margin: 10px;
    resize: none;
    height: 3em;
}

.row {
    display: flex;
    flex-direction: row;
}

.column {
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    width: 100%;
    display: flex;
    background-color: #ccc;
}

.left-navbar {
    padding: 8px;
    width: 100%;
    display: flex;
    background-color: #ccc;
}

.right-navbar {
    padding: 8px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    background-color: #ccc;
}

.navbar-content {
    margin: 8px;
}

.header {
    background-color: #f1f1f1;
    text-align: center;
    font-size: 35px;
}

.addInstructionsText {
    width: 100%;
    resize: none;
    height: 3em;
}

.strikethroughCheckbox:checked + span{
    text-decoration: line-through;
}

.content {
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    background-color: #aaa;
    width: 100%;
    max-width: 800px;
}

.content > div:nth-child(odd) {
    background-color: #bbb;
}

.content > div:nth-child(even) {
    background-color: #ccc;
}

#recipeCard {
    display: flex;
    flex-direction: column;
    width: 75%;
    margin: 20px auto;
    border: 1px solid #185c35;
    outline: .5em solid #f9f9f9;
    background-color: #f9f9f9;
    padding: 1.5em;
    text-wrap: wrap;
}

#sign-in {
    padding: 8px;
}

#register {
    padding: 8px;
}

#recipeHeader {
    margin-top: 0px;
    margin-bottom: 10px;
    font-size: 34px;
}

#statPhotoCard {
    justify-content: space-between;
}

.footer {
    background-color: black;
}