<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles.css}" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <div sec:authorize="isAnonymous()" th:replace="~{fragments :: anonymous-navbar}">
            Navbar
        </div>
        <div sec:authorize="isAuthenticated()" th:replace="~{fragments :: authenticated-navbar}">
            Navbar
        </div>
        <div th:replace="~{fragments :: header}">
            Header
        </div>
        <div class="content">
            <div>
                User Favorites (Small form photos, perhaps sorted by recency)
            </div>
            <div>
                Upcoming Recipes? (Recipes above x score made within y time period)
            </div>
            <div>
                Broad Recipe Categories
            </div>
            <div>
                Cycle between Misc. Categories. My favorites/seasonal/certain recipe category, etc.
            </div>
        </div>
        <div class="footer">
            Footer
        </div>
    </div>
</body>
</html>